[Desktop Entry]
Icon=text-html
Name=search
Type=Link
URL[$e]=https://www.google.com/search?q=ModuleNotFoundError%3A+No+module+named+%27sensores%27&ie=UTF-8
X-KDE-LastOpenedWith=firefox
